<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>BISON API</title>
    <meta name="robots" content="index,follow">
    <meta
      name="description"
      content="${description}"
    >
    <meta name="author" content="KU Biodiversity Institute">
  </head>
  <body>
    <div id="root"></div>
    <script src="${bundle}"></script>
    <p align="center">
		<a href="google/">
		<img id="google"
			src="https://img.shields.io/badge/Google-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=google"
			alt="Google"
			data-onsuccess="onSignIn"> <br>
		</a>
		<a href="facebook/">
		<img id="facebook"
			src="https://img.shields.io/badge/Facebook-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=facebook"
			alt="Facebook"> <br>
		</a>
	</p>

  </body>
</html>
