*.pyc
*.log

.idea/

aws_scripts/*log
data/.~lock*
data/*updated*csv
data/log/
data/*zip
data/*xml

venv/
/.pytest_cache/
data/out
big_data
tests/data/process/*csv

tests/data/process/*csv
tests/data/output/*csv
.log
tests/data/input/US-RIIS_MasterList_top100_2021_annotated.csv
tests/data/process/*.log
tests/data/process/gbif10k_2023-01-26_chunk-1001-2000_raw.csv
tests/data/process/gbif10k_2023-01-26_chunk-1-1000_raw.csv
tests/data/process/gbif10k_2023-01-26_chunk-2001-3000_raw.csv
tests/data/process/gbif10k_2023-01-26_chunk-3001-4000_raw.csv
tests/data/process/gbif10k_2023-01-26_chunk-4001-5000_raw.csv
tests/data/process/gbif10k_2023-01-26_chunk-5001-6000_raw.csv
tests/data/process/gbif10k_2023-01-26_chunk-6001-7000_raw.csv
tests/data/process/gbif10k_2023-01-26_chunk-7001-8000_raw.csv
tests/data/process/gbif10k_2023-01-26_chunk-8001-9000_raw.csv
tests/data/process/gbif10k_2023-01-26_chunk-9001-10000_raw.csv
diversity_stats_2024_02_01.csv
site_stats_2024_02_01.csv
species_stats_2024_02_01.csv
data/input/US-RIIS_MasterList_2021_annotated_2023-09.csv
